h1{font-size: 15pt; color:black; background-color:yellow}
div{font-size: 25pt; color:black; background-color:yellow}
th {background-color: yellow;border-color:black;border="1";border-style:double;}
td {background-color: yellow;border-color:black;border="1";border-style:double;}
span{font-weight:bold; color:black; background-color:yellow}
.fatih{font-size: 20pt; color:white; background-color:green}